@import "tailwindcss";
@config "./tailwind.config.js";

@plugin "daisyui" {
    themes: light, dark, cupcake, dracula, cyberpunk, emerald, luxury, nord, sunset, winter, night, synthwave, retro, forest;
}

@layer base {

    html,
    body {
        @apply min-h-[100dvh] w-full overflow-hidden bg-base-100 text-base-content overscroll-y-none;
    }
}

/* Fix for iOS click/blur events */
@media (hover: none) {
    body {
        cursor: pointer;
    }
}

/* Remove default focus outline/tap highlight */
* {
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}

:focus {
    outline: none !important;
}