@import "tailwindcss";

@layer base {

    html,
    body,
    button,
    a,
    [role="button"],
    input,
    label,
    select,
    summary,
    textarea {
        touch-action: manipulation;
    }
}

@theme {
    --color-gray-900: #111827;
    --color-gray-800: #1f2937;
    --color-gray-700: #374151;
}